.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    gap: 10px;
    grid-template-areas: 
        'header header'
        'nav content';
}
.header{
    grid-area: header;
    background-color: rgb(2, 19, 172);
}

.nav{
    grid-area: nav;
    background-color: rgb(9, 3, 130);
}
.content{
    grid-area: content;
    background-color: rgb(143, 143, 253);
}

.active{
    color: red !important;
    font-weight: bold !important;
}